# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Self + auto make stuff
.gitignore
Makefile
autom4te.cache/
autoscan.log
conf/Makefile
config.h
config.log
config.status
configure.scan
doc/Makefile
doc/xjackfreak.xcf
src/.deps/
src/Makefile
src/xjackfreak
src/xjackfreak-fftlib1.o
src/xjackfreak-xjackfreak1.o
src/xjackfreak.rc
stamp-h1
xjackfreak.rc
